@tailwind base;
@tailwind components;
@tailwind utilities; 


html {
 height: 100vh;
}

.btn-basic {
  font-size: 14px;
  font-weight: bold;
  background-color: #089547;
  border-color: #089547;
  border-radius: 36px;
  border: none;
  color: #fff;
  box-shadow: 0 5px 30px rgb(0 0 0 / 57%);
  transition: 0.5s ease-in;
  padding: 10px 50px;
  margin: 20px 0;
  cursor: pointer;
  opacity: 0.9;  
}

.btn-basic:hover {
  transition: 1000ms;
  background-color: #35D475;
  opacity: 1;
}